@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}

body {
    font-family: Roboto, Arial, sans-serif;
    height: 100vh;
}

.page-container {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}
.page-container--sunny {
    background-image: url('./images/summer-bg.jpg');
}