@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}
#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;

    img {
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100vh + 20px);
        object-fit: cover;
        filter: blur(5px);
        opacity: 0;
        z-index: 1;
        
        .sunny &#sunny-bg,
        .rainy &#rainy-bg,
        .snowy &#snowy-bg {
            opacity: 1;
        }
    }
}

#page-container {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
h1 {
    margin: 0;
    font-size: 3rem;
    text-align: center;

    @media(max-width: 565px) {
        font-size: 2rem;
    }

    .sunny & {
        color: lightgreen;
    }
    .rainy & {
        color: lightgray;
    }
    .snowy & {
        color: #fff;
    }
}

#sounds-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;

    @media(max-width: 565px) {
        flex-direction: column;
    }
}

.sound-menu__item {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color .3s ease, box-shadow .3s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:hover {
        border-color: #fff;
        box-shadow: 0 0 15px #ffffff55 inset;
    }

    @media(max-width: 565px) {
        width: 120px;
        height: 120px;
        border-radius: 16px;
    }

    &.sound-menu__item--playing {
        border-color: #fff;
        box-shadow: 0 0 15px #ffffff55 inset;

        .icon-img {
            display: none;
        }
        .pause-img {
            display: block;
        }
    }

    .pause-img {
        display: none;
    }

    .icon-img,
    .pause-img {
        width: 32px;
        height: 32px;
    }

    &:hover .icon-img,
    &:hover .pause-img {
        width: 34px;
        height: 34px;
    }
}

